<div class="col-8 d-flex justify-content-between">
  <div><h2>Nuevo Producto</h2></div>
  <div><%= link_to 'Regresar', products_path, class: "btn btn-secondary" %></div> 
</div>

<div class="col-8">
  <%= render 'form', product: @product %>  
</div>


